button {
    border: none;
    background: $secondary;
    border-radius: 5px;
    color: $accent1;

    &.active {
        color: $accent2;
    }

    &:focus {
        outline: $accent2 auto 5px;
    }

    &:hover {
        // color: darken(white, 25%);
        background-color: lighten($secondary, 10%);
    }
}
